div {
    margin-top: 10%;
    height: 370px;
    width: 350px;
    background-color: aqua;
    padding-top: 40px;
}
button {
    border-radius: 35px;
    background-color: rgb(43, 124, 215);
    color: white;
    height: 30px;
    width: 70px;
    font-size: 17px;
    margin-top: 30px;
}
